body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: sans-serif;
}

.info-title {
    position: absolute;
    background-color: rgba(240, 255, 255, 0.705);
    left: 2.5vw;
    width: 40vw;
    height: 70vh;
    margin-top: 2.5vh;
    z-index: 1;
    border-radius: 10px;
    padding: 5px;
}

.info-title > h1 {
    margin-top: 2vh;
    color: black;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 3.5vh;
}

.dropdown {
    width: 31.5vw;
    margin-left: 4vw;
    text-align: center;
}

#map {
    width: 98vw;
    height: 100vh;
}

#history-graph {
    height: 50vh;
}

#vostpt-logo {
    height: 10vh;
    position: absolute;
    z-index: 2;
    top: 85vh;
    left: 2.5vw;
    background-color: white;
    border-radius: 100%;
    padding: 7.5px;
    animation: vostpt-logo-rotation-init 1s 0.7s;
}

#vostpt-logo:hover {
    animation: vostpt-logo-rotation 1s;
}

@keyframes vostpt-logo-rotation {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes vostpt-logo-rotation-init {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}
    